
//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

@font-face {
  font-family: pop;
  src: url(../fonts/Poppins-Bold.ttf);
}

body{
    text-align: center;
    

  }

  .nav_links{
    
    font-family:pop;
  }


  span,p{
    color:white;

  }

  .navbar{
     display: flex;
     justify-content: space-between;
     width: 100%;
     padding-top: 1%;
     padding-bottom: 1%;
     background-color: black;
     font-size: 20px;
   }
   
   .logo{
     margin-left: 5%;
     color: #ffffff;
     font-size: 25px;
     font-weight: bold;
   }
 
  
   .logo_header{
     display: flex;
     margin-left: 2%;
   }
   
   .main_nav{
     display: flex;
     width: 50%;
     float: right;
     margin-right: 2%;
     justify-content: space-between;
     list-style: none;
   }
   
   .main_nav li{
     display: inline;
     text-align: center;
     color: #ffffff;
   }
   .main_nav li a{
     color: #ffffff;
   }
 
   .navbar_toggle {
     display: none;
     }
     
 
 

 
 
   @media only screen and (max-width : 992px){
 
     .navbar{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       width: 100vw;
       padding-top: 2%;
       padding-bottom: 2%;
       background-color: #000000;
       font-size: 20px;
     }
   
     .main_nav{
       display: none;
     }
   
     .show_nav{
       padding-top: 2%;
       display: flex;
       width: 100vw;
       height: 100vh;
       flex-direction: column;
       justify-content: flex-start;
     }
   
     .main_nav li{
       width: 100%;
       height: 50px;
       font-size: 25px;
       justify-content: center;
       text-align: center;
       padding: 0%;
     }
     .navbar_toggle {
       margin-left: 5%;
       margin-right: 5%;
       font-size: 30px;
       color: #ffffff;
       background: transparent;
       border-color: transparent;
       /* transition: all 0.3s linear; */
       /* cursor: pointer; */
       display: block;
      
     }
     .logo_header{
       width: 100%;
       justify-content: space-between;
       margin-right: 2%;
     }
 
   
     .modal-content {
       width: 100%;
     }
     .modal-content img{
       width: 100%;
     }
 
 
     form{
       width: 100%;
     }
 
     
 
  } 
 
 
 
 
 
 
  .form label{
   display: block;
   margin-bottom: 1.2em;
   
 }
 
 
 .form input{
 
   border-top: 0;
  border-right: 0;
  border-left: 0;
  margin-bottom: 1.2;
  background-color: transparent;
  padding: 1em;
  color:white;
  margin: 5px;
  align-items: center;
 }
 
 
 
 
 .form input:focus {
       background-color:black;
     }
 
 
 .form input:focus-visible{
   outline:none;
   border-color:white;
 }
 
 
 .form button[type="submit"]{
    
   background-color:orangered; 
 
   border: 0;
   color: white;
   padding: 20px 28px;
 
 
   font-size: 16px;
   transition:background-color .3s ease-in-out; 
 }
 
   .form button[type="submit"]:hover {
   background-color:#f70200;
 }
 
 .bn30 {
   text-align: center;
   /* background-color: #190c8d; */
   color: #ffffff;
   font-size: 1.3em;
   margin:auto;
   display:block;
   border-radius: 50px;
   background: #3f0069;
 
   height: 55px;
   width: 160px;
 }
 
 .bn30 :before {
   content: "\f017";
   display: inline-block;
   font: normal normal normal 14px/1 FontAwesome;
   font-size: inherit;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 .form input::placeholder {
     
   color: white;
   font-size: 0.9em;
 }
 
 
 
 
 
 
 .cards li {
   display: inline-block;
   padding: 10px;
   background: transparent;
   font-size: 1rem;
   vertical-align: top;
 }
 
 
 
 .modal {
   display: none; 
   position: fixed; 
   z-index: 1; 
   padding-top: 100px; 
   left: 0;
   top: 0;
   width: 100%; 
   height: 100%; 
   overflow: auto; 
   background-color: rgb(0,0,0); 
   background-color: rgba(0,0,0,0.4); 
 }
 

 .modal-content {
   position: relative;
   background-color: #fefefe;
   margin: auto;
   padding: 0;
   border: 1px solid #888;
   width: 80%;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   -webkit-animation-name: animatetop;
   -webkit-animation-duration: 0.4s;
   animation-name: animatetop;
   animation-duration: 0.4s
 }
 
 @-webkit-keyframes animatetop {
   from {top:-300px; opacity:0} 
   to {top:0; opacity:1}
 }
 
 @keyframes animatetop {
   from {top:-300px; opacity:0}
   to {top:0; opacity:1}
 }
 
 
 
 .modal-header {
   padding: 2px 16px;
   background-color: black;
   color: white;
 }
 
 .modal-body {padding: 2px 16px;}
 
 .modal-footer {
   padding: 2px 16px;
   background-color: black;
   color: white;
 }
 
 
 